* {
    padding: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}


body {
    margin: 40px;
    /* background-color: #e9ecef; */
    background: linear-gradient(to right, white,#ae1f129b, #ae1f129b, white)

}


/* header  */
header {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-start;
    gap: 500px;
    align-items: center;
    background-color: #ced4da;
    border: 3px solid #212529;
    border-radius: 15px;
}

h1 {
    margin: 0px;
    font-family: bebas neue;
    font-size: 60px;
    color: #212529;

}

.para {
    margin: 0px;
    font-family: Bricolage Grotesque;
    font-weight: 900;
    font-size: 23px;
}

.span {
    padding-right: 8px;
    color: #ae2012;
    border-right: 5px solid #212529;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-weight: bold;
    font-family: comfortaa;
    font-size: 25px;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #212529;
    position: relative;
}


nav ul a:hover {
    color: #ae2012;
    text-decoration: underline;
    text-shadow: 2px 2px 5px #bc8181;
    text-underline-offset: 15px;
}



/* main  */

.about {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid #212529;
    margin-top: 40px;
    border-radius: 15px;
    background-color: #ced4da;
}

.hash {
    font-size: 40px;
    font-family: Google Sans flex;
    color: #212529;
    text-decoration: underline #212529;
    text-underline-offset: 15px;
}


img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 7px solid #ae2012;
    transition: 0.3s;
}

img:hover {
    width: 480px;
    height: 480px;
    box-shadow: 3px 3px 5px #bc8181;

}

.content {
    border-radius: 15px;
    background-color: #e9ecef74;
    width: 900px;
    padding: 50px;
    font-family: Faculty Glyphic;
    font-size: 25px;
}

.pro ul {
    margin-bottom: 100px;
}

.pro ul li {
    list-style: none;
    color: #212529;
    font-size: 25px;
    font-family: Faculty Glyphic;
    margin-bottom: 15px;

}

.pro ul li a {
    text-decoration: none;
    color: #ae2012;

}

.pro ul li a:hover {
    color: #c96057;
}

.b {
    margin-bottom: 100px;
}


.form-set {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 40px;
    border: 3px solid #212529;
    border-radius: 15px;
    background-color: #ced4da;

}

#form-legend {
    text-align: center;
    font-size: 40px;
    font-family: Google Sans flex;
    font-weight: 700;
    color: #212529;
    text-decoration: underline #212529;
    text-underline-offset: 15px;
}

.main-form {
    border-radius: 20px;
    padding: 30px;
    width: 500px;
    font-size: 20px;
    font-family: ubuntu;
    background-color: #979dac9e;
}


.form-inp {
    width: 400px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 15px;
    color: #212529d2;
}

.main-form button {
    width: 400px;
    font-size: 18px;
    font-weight: 550;
    border: none;
    border-radius: 25px;
    padding: 15px;
    background-color: #212529;
    color: #e9ecef;
    transition: .3s;
}

.main-form button:hover {
    background-color: #ced4da;
    font-weight: 550;

    color: #212529;
    border: 1px solid #212529;
    box-shadow: 2px 2px 5px #212529;
}

/* footer */
footer {
    text-align: center;
    font-family: ubuntu;
    font-size: 20px;
}
